.div1 {
    height: 900px;
    width: 450px;
    /* border: 1px solid black; */
    float: right;
    margin-top: -900px;
}

.div1 a {
    font-size: 12px;
    text-decoration: none;
    color: green;
}
.h6 a:hover{
    color: red;
    text-decoration: underline;
}

.div2 {
    height: 35px;
    width: 300px;
    border: 1px solid black;
    margin: auto;
    font-size: smaller;
    margin-top: 20px;
    border: none;
    background-color: white;
    border-left: 7px solid #95cc97
}

.div2 a {
    color: blue;
    font-size: 20px;
}

ul {
    list-style-type: circle;
}

.point li a {
    color: blue;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}

.point1 li {
    font-size: 12px;
    padding: 4px;
    display: list-item;
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

.point1 a:hover {
    color: red;
    text-decoration: underline;
}