.div1 {
    height: 220px;
    width: 600px;
    /* border: 1px solid black; */
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    background-color: white;
}
.div2{
    height: 200px;
    width: 270px;
    /* border: 1px solid black; */
    margin: 10px;
}
.div2 img{
    height: 200px;
    width: 270px;
    
}