/* #body{
    background-color:  #f9f4f4
} */

.nav{
    height: 40px;
    width: 100%;
    border: 1px solid black;
    background-color: #115f64;;
}
.nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    color:white;
    font-size: 13px;
    text-decoration: bold;
}
